<ion-content class="splash-content" [fullscreen]="true">
  <div class="splash-fondo">
    <div class="splash-centro">
      <div class="splash-icono">
        <ion-icon name="leaf-outline"></ion-icon>
      </div>
      <h1>Ecoruta</h1>
      <p class="splash-subtitulo">App Ciudadano</p>

      <div class="splash-bienvenida">
        <p>Bienvenido al sistema de visualizacion de Ecoruta</p>
      </div>

      <div class="splash-cargando">
        <ion-spinner name="crescent"></ion-spinner>
        <span>{{ mensaje }}</span>
      </div>
    </div>
  </div>
</ion-content>